@import
url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap');
body{
    background-color:mintcream !important ;
color: #fff ;
font-family: 'Montserrat Alternates';
font-style: normal;
}
a,a:hover {
color: #fff !important;
}
img:hover{
cursor: pointer;
}